{% macro teams_card(status, commonAnnotations_summary, commonLabels_alertname, alerts) %}
    {
    "@type": "MessageCard",
    "@context": "http://schema.org/extensions",
    "themeColor": "{% if status == 'resolved' %}2DC72D{% elif status == 'firing' %}8C1A1A{% else %}808080{% endif %}",
    "summary": "Text{{ commonAnnotations_summary }}",
    "title": "{{ commonLabels_alertname }} ({{ status | upper }})",
    "sections": [
    {% for alert in alerts %}
        {
            "type": "TextBlock",
            "text": "- {{ alert.Annotations.description }}\n- {{ alert.Annotations.cluster }}\n",
            "markdown": true
        }{% if not loop.last %},{% endif %}
    {% endfor %}
    ]
    }
{% endmacro %}
